@model CSC497_Project_JagQuiz.Models.AccountIndexViewModel

@{
    ViewBag.Title = "IndexViewModel";
}

<h2>IndexViewModel</h2>

<div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Account Information</div>
                    <div class="panel-body">
                        <div>
                            @Html.LabelFor(m => m.JagNumber, "JagNumber: ")
                            @Html.DisplayFor(m => m.JagNumber)
                        </div>
                        <div>
                            @Html.LabelFor(m => m.Email, "Email: ")
                            @Html.DisplayFor(m => m.Email)
                        </div>
                        <div>
                            @Html.LabelFor(m => m.firstName, "First Name: ")
                            @Html.DisplayFor(m => m.firstName)
                        </div>
                        <div>
                            @Html.LabelFor(m => m.lastName, "Last Name: ")
                            @Html.DisplayFor(m => m.lastName)
                        </div>                        
                        @Html.ActionLink("Change Password", "ResetPassword", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <input class="btn btn-default" type="submit" value="LogOff" />
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Scores</div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        
    </div>
</div>