@model CSC497_Project_JagQuiz.Models.AccountIndexViewModel

@{
    ViewBag.Title = "IndexViewModel";
}

<h2>IndexViewModel</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Index</div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#Home">Home</a></li>
                        @{
                            foreach (var item in Model.courses)
                            {
                                <li><a data-toggle="tab" href='#@item.courseName.Replace(" ", "")'> @item.courseName </a></li>
                            }
                        }
                    </ul>
                    <div class="tab-content">
                        @{
                            foreach (var item in Model.courses)
                            {
                                <div id=@item.courseName.Replace(" ", "") class="tab-pane fade">
                                    <p>@item.courseName and some other content</p>
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Module</th>
                                                <th>Term</th>
                                                <th>Definition</th>
                                                <th>Score</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach(var localterm in item.terms)
                                                {
                                                    <tr>
                                                        <td>@localterm.module</td>
                                                        <td>@localterm.termName</td>
                                                        <td>@localterm.definition</td>
                                                        <td>@localterm.score</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>                                
                            }
                        }
                        <div id="Home" class="tab-pane fade in active">
                            <h3>Home</h3>
                                <p>sample content</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>