<!DOCTYPE html>
<html style="height:100%; width:100%;">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body style="height:100%; width: 100%; position:relative;">
    <div id="Logo" style="position:relative; max-height:75%; width:100%; padding-left:25%; padding-right:25%">
        <img src="~/Content/Sample.png" class="img-responsive" style="width:100%" />
    </div>

    <div class="navbar" style="position:relative">
        <button class="btn btn-default" style="background-color:#00205B; color:white; float:left; width:25%; text-align:center; padding:10px"> @Html.ActionLink("Home", "AccountIndex", "Account", routeValues: null, htmlAttributes: new { id = "", style="color:white" }) </button>
        <button class="btn btn-default" style="background-color:#00205B; color:white; float:left; width:25%; text-align:center; padding:10px"> @Html.ActionLink("Exercises", "Match", "Exercise", routeValues: null, htmlAttributes: new { id = "", style = "color:white" }) </button>
        <button class="btn btn-default" style="background-color:#00205B; color:white; float:left; width:25%; text-align:center; padding:10px"> @Html.ActionLink("Account", "AccountOptions", "Account", routeValues: null, htmlAttributes: new { id = "", style = "color:white" }) </button>
        <div class="btn btn-default" style="background-color:#00205B; color:white; float:left; width:25%; text-align:center; padding:10px"> 
            @using (@Html.BeginForm("LogOff", "Account", FormMethod.Post, htmlAttributes: new { id = "", style = "color:white" })) 
            { 
                @Html.AntiForgeryToken()
                <input class="btn btn-link" type="submit" value="Log Off" style="color:white"/>
            }
        </div>
    </div>

    <div id="Content" class="container-fluid" style="position:relative; width:100%; padding-left:25%; padding-right:25%">
        @RenderBody()
    </div>
</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</html>
